<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= pageTitle %></title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
        />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta
            name="keywords"
            content="Administrator Sign-In Page for Quofi Games Hub"
        />
        <meta name="author" content="Codedthemes" />
        <!-- Favicon icon -->

        <!-- <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" /> -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <!-- Google font-->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"
            rel="stylesheet"
        />
        <!-- Required Fremwork -->
        <link
            rel="stylesheet"
            type="text/css"
            href="assets/css/bootstrap/css/bootstrap.min.css"
        />
        <!-- waves.css -->
        <link
            rel="stylesheet"
            href="assets/pages/waves/css/waves.min.css"
            type="text/css"
            media="all"
        />
        <!-- themify-icons line icon -->
        <link
            rel="stylesheet"
            type="text/css"
            href="assets/icon/themify-icons/themify-icons.css"
        />
        <!-- ico font -->
        <link
            rel="stylesheet"
            type="text/css"
            href="assets/icon/icofont/css/icofont.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="assets/pages/notification/notification.css"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="assets/css/jquery.mCustomScrollbar.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="assets/css/animate.css/css/animate.css"
        />

        <!-- Font Awesome -->
        <link
            rel="stylesheet"
            type="text/css"
            href="assets/icon/font-awesome/css/font-awesome.min.css"
        />
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    </head>
</html>
