<div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                <nav class="navbar header-navbar pcoded-header">
                    <div class="navbar-wrapper">
                        <div class="navbar-logo">
                            <a
                                class="mobile-menu waves-effect waves-light"
                                id="mobile-collapse"
                                href="#!"
                            >
                                <i class="ti-menu"></i>
                            </a>
                            <div class="mobile-search waves-effect waves-light">
                                <div class="header-search">
                                    <div class="main-search morphsearch-search">
                                        <div class="input-group">
                                            <span
                                                class="
                                                    input-group-prepend
                                                    search-close
                                                "
                                                ><i
                                                    class="
                                                        ti-close
                                                        input-group-text
                                                    "
                                                ></i
                                            ></span>
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="Enter Keyword"
                                            />
                                            <span
                                                class="
                                                    input-group-append
                                                    search-btn
                                                "
                                                ><i
                                                    class="
                                                        ti-search
                                                        input-group-text
                                                    "
                                                ></i
                                            ></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="index.html">
                                <img
                                    class="img-fluid"
                                    src="assets/images/logo.png"
                                    alt="Theme-Logo"
                                />
                            </a>
                            <a class="mobile-options waves-effect waves-light">
                                <i class="ti-more"></i>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar">
                            <div class="sidebar_toggle">
                                <a href="#"><i class="icon-close icons"></i></a>
                            </div>
                            <div class="pcoded-inner-navbar main-menu">
                                <div class="">
            <div class="main-menu-header">
                <img
                    class="img-80 img-radius"
                    src="assets/images/avatar-4.jpg"
                    alt="User-Profile-Image"
                />
                <div class="user-details">
                    <span id="more-details">WELCOME, ADMIN</span>
                </div>
            </div>
        </div>
                                <div class="pcoded-navigation-label">
                                    Navigation
                                </div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="">
                                                        <a href="/admin/dashboard" class="waves-effect waves-dark">
                    <span class="pcoded-micon"
                        ><i class="ti-home"></i><b>D</b></span
                    >
                    <span class="pcoded-mtext">Overview</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                                    </li>
                                </ul>
                                 <!-- Member Starts Here -->
                                <div class="pcoded-navigation-label">
                                  List - Member
                                </div>
                                <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)" class="waves-effect waves-dark">
                    <span class="pcoded-micon"
                        ><i class="ti-id-badge"></i><b>A</b></span
                    >
                    <span class="pcoded-mtext">Members</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="/admin/table" class="waves-effect waves-dark">
                            <span class="pcoded-micon"
                                ><i class="ti-angle-right"></i
                            ></span>
                            <span class="pcoded-mtext">All Members</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class="">
                        <a
                            href="/admin/memberAddForm"
                            class="waves-effect waves-dark"
                        >
                            <span class="pcoded-micon"
                                ><i class="ti-angle-right"></i
                            ></span>
                            <span class="pcoded-mtext">Add a Member</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class="">
                        <a
                            href="/admin/memberInfo"
                            class="waves-effect waves-dark"
                        >
                            <span class="pcoded-micon"
                                ><i class="ti-angle-right"></i
                            ></span>
                            <span class="pcoded-mtext">Get a Member Info</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class="">
                        <a
                            href="/admin/updateMemberInfo"
                            class="waves-effect waves-dark"
                        >
                            <span class="pcoded-micon"
                                ><i class="ti-layout-sidebar-left"></i
                                ><b>S</b></span
                            >
                            <span class="pcoded-mtext"
                                >Update a Member Info</span
                            >
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class="">
                        <a
                            href="/admin/deleteMember"
                            class="waves-effect waves-dark"
                        >
                            <span class="pcoded-micon"
                                ><i class="ti-layout-sidebar-left"></i
                                ><b>S</b></span
                            >
                            <span class="pcoded-mtext">Delete a Member</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
         <!-- Member Ends Here -->
       
        
        <!-- Campaign Starts Here -->
        <div class="pcoded-navigation-label">Campaign</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)" class="waves-effect waves-dark">
                    <span class="pcoded-micon"
                        ><i class="ti-id-badge"></i><b>A</b></span
                    >
                    <span class="pcoded-mtext">Campaign</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a
                            href="/admin/viewCampaign"
                            class="waves-effect waves-dark"
                        >
                            <span class="pcoded-micon"
                                ><i class="ti-angle-right"></i
                            ></span>
                            <span class="pcoded-mtext">View Campaign</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Campaign Ends Here -->
         <!-- Audience Starts Here -->
                                <div class="pcoded-navigation-label">Query</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)" class="waves-effect waves-dark">
                    <span class="pcoded-micon"
                        ><i class="ti-id-badge"></i><b>A</b></span
                    >
                    <span class="pcoded-mtext">Query Search</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a
                            href="/admin/getQuery"
                            class="waves-effect waves-dark"
                        >
                            <span class="pcoded-micon"
                                ><i class="ti-angle-right"></i
                            ></span>
                            <span class="pcoded-mtext"> Members Query</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Audience Ends Here -->
                        </nav>