<%- include('./includes/head.ejs') %>

    <body>
        <!-- Pre-loader start -->
        <div class="theme-loader">
            <div class="loader-track">
                <div class="preloader-wrapper">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pre-loader end -->
       <%- include('./includes/navigation.ejs') %>
                        <div class="pcoded-content">
                            <!-- Page-header start -->
                            <%- include('./includes/pageHeader.ejs') %>
                            <!-- Page-header end -->
                            <div class="pcoded-inner-content">
                                <!-- Main-body start -->
                                <div class="main-body">
                                    <div class="page-wrapper">
                                        <!-- Page body start -->
                                        <div class="page-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div
                                                            class="card-header"
                                                        >
                                                            <h5>
                                                                Members Subscription Date Query
                                                            </h5>
                                                        </div>
                                                        <div class="card-block">
                                                            <form
                                                                class="
                                                                    form-material
                                                                "
                                                                action="/admin/getQuery"
                                                                method="POST"
                                                            >
                                                                <div
                                                                    class="
                                                                        form-group
                                                                        form-default
                                                                    "
                                                                >
                                                                    <input
                                                                        type="text"
                                                                        name="days"
                                                                        class="
                                                                            form-control
                                                                        "
                                                                    />
                                                                    <span
                                                                        class="
                                                                            form-bar
                                                                        "
                                                                    ></span>
                                                                    <label
                                                                        class="
                                                                            float-label
                                                                        "
                                                                        >Enter Number of Days</label
                                                                    >
                                                                </div>
                                        <div class="col-md-12">
                                            <button
                                                type="submit"
                                                class="
                                                    btn
                                                    btn-primary
                                                    btn-md
                                                    btn-block
                                                    waves-effect waves-light
                                                    text-center
                                                    m-b-20
                                                "
                                            >
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                                                
                                                                
                                                                
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- Page body end -->
                                    </div>
                                </div>
                                <!-- Main-body end -->
                                <div id="styleSelector"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Required Jquery -->
        <%- include('./includes/end.ejs') %>
    </body>
</html>
