<%- include('./includes/head.ejs') %>
    <body>
        <!-- Pre-loader start -->
        <div class="theme-loader">
            <div class="loader-track">
                <div class="preloader-wrapper">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pre-loader end -->
                <%- include('./includes/navigation.ejs') %>
                        <div class="pcoded-content">
                            <!-- Page-header start -->
                            <%- include('./includes/pageHeader.ejs') %>
                            <!-- Page-header end -->
                            <div class="pcoded-inner-content">
                                <div class="main-body">
                                    <div class="page-wrapper">
                                        <!-- Page-body start -->
                                        <div class="page-body">
                                            <div class="row">
                                                <!-- Color Open Accordion start -->
                                                <div class="col-lg-12">
                                                    <div class="card">
                                                        <div
                                                            class="card-header"
                                                        >
                                                            <h5
                                                                class="
                                                                    card-header-text
                                                                "
                                                            >
                                                                Deleted Message
                                                            </h5>
                                                        </div>
                                                        <div
                                                            class="
                                                                card-block
                                                                accordion-block
                                                                color-accordion-block
                                                            "
                                                        >
                                                            <div
                                                                class="
                                                                    color-accordion
                                                                "
                                                                id="color-accordion"
                                                            >
                                                                <a
                                                                    class="
                                                                        accordion-msg
                                                                        b-none
                                                                        waves-effect
                                                                        waves-light
                                                                    "
                                                                    >Contact /
                                                                    Member
                                                                    Deleted
                                                                    Succesfully!</a
                                                                >
                                                                <div
                                                                    class="
                                                                        accordion-desc
                                                                    "
                                                                >
                                                                    <p>
                                                                        Contact
                                                                        Has Been
                                                                        Deleted
                                                                        Succesfully.
                                                                        You can
                                                                        add the
                                                                        contact
                                                                        back to
                                                                        the list
                                                                        in the
                                                                        near
                                                                        future!
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Color Open Accordion ends -->
                                            </div>
                                            <!-- Row end -->
                                        </div>
                                        <!-- Page-body end -->
                                    </div>
                                </div>
                                <div id="styleSelector"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('./includes/end.ejs') %>
    </body>
</html>
