<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Quofi Games Hub</title>
		 <link rel="icon" href="./public/images/id.png" type="image/x-icon" />

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<link type="text/css" rel="stylesheet" href="shop/css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="shop/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="shop/css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="shop/css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="shop/css/font-awesome.min.css">

		<!-- Custom stylesheet -->
		<link type="text/css" rel="stylesheet" href="shop/css/style.css"/>

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="shop/img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-9">
							<div class="header-search">
								<form>
									<!-- <select class="input-select">
										<option value="0">All Categories</option>
										<option value="1">Category 01</option>
										<option value="1">Category 02</option>
									</select> -->
									<input class="input" placeholder="Search here">
									<button class="search-btn">Search</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>

		<!-- /HEADER -->

<!-- Notification area -->



							<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> You have Successfully Subscribed
</div>



		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="shop/img/fefe.jpg" alt="ps4">
							</div>
							<div class="shop-body">
								<h3>PS4<br>Collection</h3>
								<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="shop/img/xbxxx.jpg" alt="xbox">
							</div>
							<div class="shop-body">
								<h3>XBOX<br>Collection</h3>
								<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="shop/img/50.jpg" alt="gift-card">
							</div>
							<div class="shop-body">
								<h3>GIFT CARD<br>Collection</h3>
								<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">New Products</h3>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
				<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="shop/img/hgvgv.jpg" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">XBOX</p>
												<h3 class="product-name"><a href="#">XBOX GAMEPAD</a></h3>
												<h4 class="product-price">GHC 250 </h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="shop/img/dsd.jpg" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">NINTENDO</p>
												<h3 class="product-name"><a href="#">NINTENDO SWITCH</a></h3>
												<h4 class="product-price">GHC 250 </h4>
											
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="shop/img/iji.jpg" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">PS4</p>
												<h3 class="product-name"><a href="#">PS4 Controller</a></h3>
												<h4 class="product-price">GHC 200 </h4>
											
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="shop/img/fefe.jpg" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">PS4</p>
												<h3 class="product-name"><a href="#">PS4 PRO</a></h3>
												<h4 class="product-price">GHC 300 </h4>
											</div>
										
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="shop/img/product05.png" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">HEADPHONE</p>
												<h3 class="product-name"><a href="#">XT111 PRO</a></h3>
												<h4 class="product-price">GHC 280</h4>
												
											</div>
											
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>Days</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>Hours</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>ks
										<span>Mins</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Secs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">hot deal this week</h2>
							<p>New Collection Up to 50% OFF</p>
							<a class="primary-btn cta-btn" href="#">Shop now</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Top selling</h3>
							<div class="section-nav">
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="shop/img/mafia.jpg" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">PS4</p>
												<h3 class="product-name"><a href="#">Mafia for PS4</a></h3>
												<h4 class="product-price">GHC 250 </h4>
											</div>
										
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="shop/img/Avengers.jpg" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category"> PS4</p>
												<h3 class="product-name"><a href="#">AVENGERS</a></h3>
												<h4 class="product-price"> GHC 200 </h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="shop/img/immortals.jpg" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">X BOX</p>
												<h3 class="product-name"><a href="#">IMMORTALS FENYX RISING</a></h3>
												<h4 class="product-price">GHC 250</h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="shop/img/syndicate.jpg" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">X BOX</p>
												<h3 class="product-name"><a href="#">ASSASSIN'S CREED SYNDICATE</a></h3>
												<h4 class="product-price">GHC 300</h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="shop/img/Incredibles.jpg" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">PS4</p>
												<h3 class="product-name"><a href="#">THE INCREDIBLES</a></h3>
												<h4 class="product-price">GHC 280 </h4>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">PS4</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/erwrfwe.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">PS4</p>
										<h3 class="product-name"><a href="#">Mortal Kombat</a></h3>
										<h4 class="product-price">GHC 250 <del class="product-old-price">GHC 300</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/ewef.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">PS4</p>
										<h3 class="product-name"><a href="#">The Last Of Us</a></h3>
										<h4 class="product-price">GHC 400 <del class="product-old-price">GHC 550</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/fsfs.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">PS4</p>
										<h3 class="product-name"><a href="#">God Of War</a></h3>
										<h4 class="product-price">GHC 200 <del class="product-old-price">GHC 300</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/gdgdvd.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">PS4</p>
										<h3 class="product-name"><a href="#">NBA 2K21</a></h3>
										<h4 class="product-price">GHC 350 <del class="product-old-price">GHC 400</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/ghd.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">PS4</p>
										<h3 class="product-name"><a href="#">Ghost Of Tsushima</a></h3>
										<h4 class="product-price">GHC 450</h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/hbbu.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">PS4</p>
										<h3 class="product-name"><a href="#">Alladin & Lion King</a></h3>
										<h4 class="product-price">GHc 150 <del class="product-old-price">Ghc 180</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">XBOX</h4>
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/watchdogs.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category"></p>
										<h3 class="product-name"><a href="#">Watch Dogs Legion</a></h3>
										<h4 class="product-price">GHC 480 <del class="product-old-price">GHC 600</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/syndicate.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Xbox</p>
										<h3 class="product-name"><a href="#">Assasins Creed Syndicate</a></h3>
										<h4 class="product-price">GHC 300 </h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/mafia.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Xbox</p>
										<h3 class="product-name"><a href="#">Mafia</a></h3>
										<h4 class="product-price">GHC 200</h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/hh.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Xbox</p>
										<h3 class="product-name"><a href="#">Xbox Wireless Controller</a></h3>
										<h4 class="product-price">GHC 400</h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/immortals.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Xbox</p>
										<h3 class="product-name"><a href="#">Immortals Fenyx Rising</a></h3>
										<h4 class="product-price">GHC 200 <del class="product-old-price">GHC 300</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/xbox.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Xbox</p>
										<h3 class="product-name"><a href="#">XBOX One X</a></h3>
										<h4 class="product-price">GHC 2200<del class="product-old-price">GHC 2800</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">GIFT CARD</h4>
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/3m.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Xbox</p>
										<h3 class="product-name"><a href="#">XBOX Live Gold 3months</a></h3>
										<h4 class="product-price">GHC 90</h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/3m.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Xbox</p>
										<h3 class="product-name"><a href="#">XBOX Live Gold 6months</a></h3>
										<h4 class="product-price">GHC150 </h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/3m.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Xbox</p>
										<h3 class="product-name"><a href="#">XBOX Live Gold 12months</a></h3>
										<h4 class="product-price">GHC300 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/50.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Xbox</p>
										<h3 class="product-name"><a href="#">XBOX $50 </a></h3>
										<h4 class="product-price">GHC 300</h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/25.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Xbox</p>
										<h3 class="product-name"><a href="#">XBOX $25</a></h3>
										<h4 class="product-price">GHC 150</h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="shop/img/iji.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">PS4</p>
										<h3 class="product-name"><a href="#">PS4 Controller</a></h3>
										<h4 class="product-price">GHC 400</h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->



				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
		
							<form action="/" method="POST">
								<input class="input" type="text" name="fName" type="email" placeholder="First name" required>
								<input class="input" type="text" name="lName" type="email" placeholder="Last name" required>
								<input class="input" type="text" name="phone" type="email" placeholder="Phone number" required>
								<input class="input" type="text" name="email" type="email" placeholder="Email" required>
								<button class="btn btn-lg btn-primary btn-block" type="submit">Subscribe</button>
							</form>
							
							<ul class="newsletter-follow">
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Call to place an order!!! For all enquiries, please find our location and contact below.</p>
							
									<ul class="footer-links">
										<li><a href="#"><i class="fa fa-map-marker"></i>MANYE A. ALLOTEY DRV.</a></li>
										<li><a href="#"><i class="fa fa-phone"></i>+233-549-117-886</a></li>
										<li><a href="#"><i class="fa fa-envelope-o"></i>obedus10@gmail.com</a></li>
									</ul>
							
							</div>
						</div>
						
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								Copyright &copy; All rights reserved
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="shop/js/jquery.min.js"></script>
		<script src="shop/js/bootstrap.min.js"></script>
		<script src="shop/js/jquery.zoom.min.js"></script>
		<script src="shop/js/slick.min.js"></script>
		<script src="shop/js/nouislider.min.js"></script>
		<script src="shop/js/main.js"></script>

	</body>
</html>
